{% extends 'tasks/main.html' %}

{% block content %}

<style>
    #id_description{
        height: 200px;
        width: 300px;
    }

    #id_title{
        height: 50px;
        width: 300px;
    }
</style>

<div class="center-column">

    <h3>YOUR LIST OF TASKS</h3>

    <form method="POST" action="" id="createTasks" data-url="{% url 'user' %}">
        {% csrf_token %}
        <p style="padding-left: 25px;">Title: {{form.title}} <span style="padding-left: 15px;">Complete:{{form.complete}}</span></p>   
        <p>Description: {{form.description}}</p>
        <button class="btn btn-col btn-primary" type="submit">Create Task</button>


        {% for Task in TASKS %}
            <div class="item-row">
                <a class="btn btn-sm btn-info" href="{% url 'update' Task.id %}">Update</a>
                <a class="btn btn-sm btn-danger" href="{% url 'delete' Task.id %}">Delete</a>

                {% if Task.complete == True %}
                <br>
                <strike>{{Task.title}}</strike>
                <br>
                <br>
                <strike>{{Task.description}}</strike>
                {% else %}
                <br>
                <span>{{Task.title}}</span>
                <br>
                <br>
                <span>{{Task.description}}</span>
                {% endif %}
            </div>
        {% endfor %}

    </form>

    
        <div class="col-12 mt-5" id="showTasks">
            {% for Task in MYTASKS %}
            <div class="item-row" id="tasksrow" data-id="{{ Task.id }}">
                <span>{{Task.title}}</span>
                <br>
                <br>
                <span>{{Task.description}}</span>
            </div>
        {% endfor %}
        </div>


</div>

{% endblock %}
